/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* CSS Variables */
:root {
  --background-color: #000000;
  --text-color: #00ff00;
  --primary-color: #00ff00;
  --surface-color: #0a0a0a;
  --border-color: #00ff00;
  --primary-hover-color: #55ff55;
  --subtle-text-color: #00bb00;
}

/* Amber Theme */
.light-theme {
  --text-color: #ffb000;
  --primary-color: #ffb000;
  --border-color: #ffb000;
  --primary-hover-color: #ffd055;
  --subtle-text-color: #dd9000;
}

/* Reset and Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  cursor: text;
  text-shadow: 0 0 5px var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}

section:last-of-type {
  border-bottom: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

a, button {
  cursor: cell;
}

.light-theme body {
  text-shadow: 0 0 5px var(--primary-color);
}
